/*---ESTILIZADO DE LA VERSIÓN MOVIL---*/

/*ESTILIZADO GENERAL:*/
*{
	box-sizing: border-box; /*al agregar un borde, entra dentro de un parametro de tamaño indicado*/
}

html{
	scroll-behavior: smooth; /*movimiento más natural entre apartados*/
}

body{
	margin: 0;
	font-family: Century Gothic;
}

h1{font-size: 3em;}

h2{font-size: 2.5em;}

h3{font-size: 2em;}

p{font-size: 1.25em;}

ul{
	list-style: none;
	padding-left: 0;
}

li{font-size: 1.25em;}

a{text-decoration: none;}

button{
	font-size: 1em;
	font-weight: bold;
	padding: 6px 20px;
	border: 0px;
	border-radius: 1px;
	box-shadow: 1px 2px 10px rgb(0, 0, 0, 20);
	color: black;
	background-color: #e0a102;
}

button:hover{
	background-color: #bf8e02;
}

.container{
	max-width: 1200px;
	margin: auto;
}

.colorAcento1{color: #e0a102}

.colorAcento2{color: #1241a6}


/*ESTILIZADO DE CABECERA*/
header{
	background-color: rgb(13, 13, 13);
}

header .logo{
	margin: 0px;
	padding: 0px 30px; /*vertical x horizontal*/
	padding-top: 20px;
}

header .logo img{
	height: 60px;
	margin-right: 10px;
}

header .nameCompany{
	font-size: 1.5em;
	color: rgb(245, 245, 245);
	font-weight: bold;
}

header .container{
	display: flex; /*Para la alineación horizontal*/
	flex-direction: column; /*Coloca cada item uno debajo de otro*/
	align-items: center; /*Centra lo items*/
}

header nav{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 25px; /*Relleno abajo*/
}

header a{
	padding: 5px 12px;
	font-weight: bold;
	color: rgb(245, 245, 245);
}

header a:hover{
	color: #e0a102;
}

header select{
	font-weight: bold;
	font-family: Century Gothic;
	font-size: 1em;
	background-color: #e0a102;
	margin: 5px 12px;
	padding: 5px 20px;
	border: 0px;
	border-radius: 15px;
}

header select:hover{
	background-color: #bf8e02;
}


/*ESTILIZADO DEL SLIDER*/
.container-all{
	position: relative;
	max-width: 1000px;
	width: 100%;
	border-radius: 6px;
	overflow: hidden;
}

.slide{
	display: flex;
	transform: translate3d(0px, 0px, 0px);
	transition: all 600ms;
	animation-name: autoplay;
	animation-duration: 6.5s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

.item-slide{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	max-width: 100%;
}

.pagination{
	position: absolute;
	bottom: 30px;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.pagination-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid black;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
	margin: 0 10px;
	text-align: center;
	transition: all 300ms;
}

.pagination-item:hover{
	transform: scale(2);
}

input[id="1"]:checked ~ .slide{
	animation: none;
	transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
	background: #e0a102;
}

input[id="2"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100%*1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
	background: #e0a102;
}

@keyframes autoplay{
	50%{
		transform: translate3d(calc(-100%*0), 0, 0);
	}
	100%{
		transform: translate3d(calc(-100%*1), 0, 0);
	}
}


/*ESTILIDAZO DEL TÍTULO 1*/
#main1{
	background-color: rgb(245, 245, 245);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
}

#tittle{
	text-align: initial;
	padding: 0px 20px;
	color: rgb(20, 20, 20);
}

#tittle h1{
	margin: 0px;
}

#tittle p{
	margin: 0px;
	padding-bottom: 30px;
}


/*ESTILIZADO DEL FORMULARIO 1*/
#sign{
	width: 90%;
}

#sign .e-mail{
	font-weight: bold;
	font-family: Century Gothic;
	font-size: 0.9em;
	margin: 10px 0px;
	padding: 5px 20px;
	border-width: 1px;
	border-color: black;
	border-radius: 2px;
	width: 100%;
}

#sign .password{
	font-weight: bold;
	font-family: Century Gothic;
	font-size: 0.9em;
	margin: 10px 0px;
	padding: 5px 20px;
	border-width: 1px;
	border-color: black;
	border-radius: 2px;
	width: 100%;
}

#sign .country{
	font-weight: bold;
	font-family: Century Gothic;
	font-size: 0.9em;
	margin: 10px 0px;
	padding: 5px 20px;
	border-width: 1px;
	border-color: black;
	border-radius: 2px;
	width: 100%;
}

#sign button{
	margin-top: 10px;
}


/*ESTILIZADO DE LA ALTERNATIVA 1*/
#alt a{
	text-decoration: none;
	color: rgb(20, 20, 20);
}

#alt .next{
	font-size: 1.25em
}

#alt .next:hover{
	color: #e0a102;
	font-size: 1.25em
	font-weight: bold;
}

#alt .alternativa:hover{
	font-weight: bold;
}


/*ESTILIDAZO DEL TÍTULO 2*/
#main2{
	background-color: rgb(245, 245, 245);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
}

#tittle{
	text-align: initial;
	padding: 0px 20px;
	color: rgb(20, 20, 20);
}

#tittle h1{
	margin: 0px;
}

#tittle p{
	margin: 0px;
	padding-bottom: 30px;
}


/*ESTILIZADO DEL FORMULARIO 2*/

#profileImg .marco0{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 170px;
	width: 170px;
	border: 0px solid #e0a102;
	background-color: #e0a102;
	border-radius: 50%;
	box-shadow: 1px 2px 6px rgb(0, 0, 0, 20);
}

#profileImg .marco1{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 155px;
	width: 155px;
	border: 0px solid rgb(20, 20, 20);
	background-color: rgb(20, 20, 20);
	border-radius: 50%;
}

#profileImg .marco2{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	position: relative;
}

#profileImg .marco2 .changeAvatar{
	position: absolute;
	left: -5px;
	top: -5px;
	border: 0;
	background-color: rgb(200, 200, 200);
	background-image: url(../img/change.png);
	background-size: 28px 28px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#profileImg .marco2 .changeAvatar:hover{
	background-color: rgb(180, 180, 180);
}

#profileImg img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

#profile{
	width: 90%;
}

#profile .nickname{
	font-weight: bold;
	font-family: Century Gothic;
	font-size: 0.9em;
	margin: 10px 0px;
	padding: 5px 20px;
	border-width: 1px;
	border-color: black;
	border-radius: 2px;
	width: 45vh;
}

#profile button{
	margin-top: 10px;
}


/*ESTILIZADO DE LA ALTERNATIVA 2*/
#profile a{
	text-decoration: none;
	color: rgb(20, 20, 20);
}

#profile a:hover{
	font-weight: bold;
}


/*ESTILIZADO DEL PIE DE PÁGINA*/
footer{
	background-color: #e0a102;
	font-size: 0.6em;
	color: rgb(20, 20, 20);
	font-weight: bold;
}

footer .container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer .toe{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
}

footer h3{
	margin-bottom: 0px;
}

footer .redes{
	flex-direction: row;
}

footer img{
	margin-top: 10px;
}

footer a{
	color: rgb(20, 20, 20);
}

footer a:hover{
	color: rgb(245, 245, 245);
}

footer .finalContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 10px;
}


/*---ESTILIZADO DE LA VERSIÓN DE ESCRITORIO---*/
@media (min-width: 720px){
	/*ESTILIZADO DE CABECERA:*/
	header{
		position: fixed;
		width: 100%;
		z-index: 100;
	}

	header .logo{
		padding: 0px 30px;
	}

	header .container{
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 5px;
	}

	header nav{
		flex-direction: row;
		padding-bottom: 0px;
	}

	header ul{
		margin: 0px;
    	padding: 0px;
    	border: 0px;
	}

	header a{
		padding-top: 10px;
		padding-bottom: 0px;
	}

	header .nameCompany{
		margin: 0px;
		padding-bottom: 15px;
	}


	/*ESTILIZADO DEL SLIDER*/
	.container-all{
		max-width: 100%;
	}

	.item-slide{
		max-width: 100%;
	}

	.pagination{
		bottom: 12vh;
	}


	/*ESTILIZADO DEL APARTADO PRINCIPAL 1*/
	#main1{
		height: 100vh;
		padding-top: 20vh;
		padding: 55vh;
	}

	#tittle{
		max-width: 50%;
		padding: 0px 0px;
	}

	#sign{
		max-width: 100%;
	}


	/*ESTILIZADO DEL APARTADO PRINCIPAL 2*/
	#main2{
		height: 100vh;
		padding-top: 20vh;
		padding: 55vh;
	}

	#tittle{
		max-width: 100%;
		padding: 0px 0px;
	}

	#profile{
		max-width: 100%;
	}


	/*ESTILIZADO DEL PIE DE PÁGINA*/
	footer .container{
		flex-direction: row;
		justify-content: space-evenly;
	}
}