<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8"/>
		<meta 
			name="viewport" 
			content="width=device-width, initial-scale=1.0"
		/>
		<title>CryptoLearning - Crear Cuenta</title>

    <link rel="stylesheet" href="css/SIM-SIGN-PBE.css">
	</head>

	<body>
		<header>
      <div class="container">
        <a 
          href="index.html" 
          class="logo"
        >
          <img 
            src="img/logo.png"
            alt="error"
          />
        </a>
        <a href="index.html">
          <p class="nameCompany">CryptoLearning</p>
        </a>
        <nav>
          <a 
            href="SIM-LOGIN.html" 
            target="_self"
          >Iniciar Sesión</a>
          <select>
            <option>Español</option>
            <option>Inglés</option>
          </select>
        </nav>
      </div>
    </header>

    <div class="container-all">
      <form
        action="SIM-MENU1.html"
        method="POST"
        autocomplete="on"
        class="resgistrarse"
      >

        <input type="radio" id="1" name="image-slide" hidden>
        <input type="radio" id="2" name="image-slide" hidden>

        <div class="slide">
          <div class="item-slide">
            <article id="main1">
              <section id="tittle">
                <div class="container">
                   <h1>Crear Cuenta</h1>
                   <p>Crea un cuenta para empezar y descubre el mundo del trading</p>
                </div>
              </section>

              <section id="sign">
                <div class="container">
                  <ul>
                    <li>
                      <input
                        class="e-mail"
                        type="e-mail"
                        placeholder="Correo electrónico"
                      />
                    </li>
                    <li>
                      <input 
                        class="password" 
                        type="password"
                        placeholder="Contraseña" 
                      />
                    </li>
                    <li>
                      <select 
                        class="country" 
                        form="registrarse"
                      >
                        <option
                          hidden="true"
                          selected="true"
                          disabled="disabled"
                          class="placeholder"
                        >
                          País
                        </option>
                        <option value="1">Antigua y Barbuda</option>
                        <option value="2">Argentina</option>
                        <option value="3">Bahamas</option>
                        <option value="4">Barbados</option>
                        <option value="5">Belice</option>
                        <option value="6">Bolivia</option>
                        <option value="7">Colombia</option>
                        <option value="8">Costa Rica</option>
                        <option value="9">Cuba</option>
                        <option value="10">Chile</option>
                        <option value="11">Dominica</option>
                        <option value="12">Ecuador</option>
                        <option value="13">El Salvador</option>
                        <option value="14">Granada</option>
                        <option value="15">Guatemala</option>
                        <option value="16">Guyana</option>
                        <option value="17">Haití</option>
                        <option value="18">Honduras</option>
                        <option value="19">Jamaica</option>
                        <option value="20">México</option>
                        <option value="21">Nicaragua</option>
                        <option value="22">Panamá</option>
                        <option value="23">Paraguay</option>
                        <option value="24">Perú</option>
                        <option value="25">República Dominicana</option>
                        <option value="26">San Cristóbal y Nieves</option>
                        <option value="27">San Vicente y las Granadinas</option>
                        <option value="28">Santa Lucía</option>
                        <option value="29">Surinam</option>
                        <option value="30">Trinidad y Tobago</option>
                        <option value="31">Estados Unidos de América</option>
                        <option value="32">Uruguay</option>
                        <option value="33">Venezuela</option>
                      </select>
                    </li>
                  </ul>
                </div>
              </section>

              <section id="alt">
                <div class="container">
                  <a href="" class="next">
                    >>Siguiente>>
                  </a>
                </div>
                <div class="container">
                  <a href="SIM-LOGIN.html" class="alternativa">
                    ¿Ya estás registrado?
                  </a>
                </div>
              </section>
            </article>
          </div>

          <div class="item-slide">
            <article id="main2">
              <section id="tittle">
                <div class="container">
                  <h1>Personaliza Tu Perfil</h1>
                  <p>Escoge una foto y un alias único
                  para que los demás te reconozcan</p>
                </div>
              </section>

              <section id="profileImg">
                <div container>
                  <div class="marco0">
                    <div class="marco1">
                      <div class="marco2">
                        <img
                          src="img/monalisa-avatar.jpg"
                          alt="img-avatar"
                        />
                        <button
                          type="button"
                          class="changeAvatar"
                        >
                            <i class="icon"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section id="profile">
                <div class="container">
                  <ul>
                    <li>
                      <input
                        type="text"
                        placeholder="Ingresa tu alias"
                        class="nickname"
                      />
                    </li>
                    <li>
                      <button>Listo</button>
                    </li>
                  </ul>
                </div>
              </section>
            </article>
          </div>
        </div>

        <div class="pagination">
          <label class="pagination-item" for="1">

          </label>
          <label class="pagination-item" for="2">

          </label>
        </div>
      </form>
    </div>

    <footer>
      <div class="container">
          <div class="toe">
            <h3>Preguntas<br/>Frecuentes</h3>
            <ul>
              <li>
                <a href="#">FAQ</a>
              </li>
              <li>
                <a href="#">Glosario</a>
              </li>
            </ul>
          </div>
          <div class="toe">
            <h3>Contacto</h3>
            <ul>
              <li type="text">Carlos Alberto Mora Pérez</li>
              <li type="text">V-27.892.646</li>
              <li type="text">carlosamorap@gmail.com</li>
              <li type="text">(+58) 424-7432428</li>
            </ul>
          </div>
          <div class="toe">
            <h3>Comunidad</h3>
            <div class="redes">
              <a 
                href="https://www.facebook.com/"
                target="_blank" 
              >
                <img 
                  src="img/fb.png" 
                  alt="fb"
                  width="30"
                  height="30"
                />
              </a>
              <a
                href="https://twitter.com/"
                target="_blank"
              >
                <img 
                  src="img/tw.png" 
                  alt="tw"
                  width="30"
                  height="30"
                />
              </a>
              <a
                href="https://www.instagram.com/"
                target="_blank"
              >
                <img 
                  src="img/ig.png" 
                  alt="ig"
                  width="30"
                  height="30"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="finalContainer">
          <div class="toe">
            <a href="#">Volver al principio</a>
          </div>
          <div class="copyrigth">
            CRYPTOLEARNING © 2022
          </div>
        </div>
    </footer>
	</body>
</html>